body {
  /* Let the user scroll */
  height: 2000px;
  /* Frontmost scene and background should have the same color */
  background: black;
}
.scene {
  position: absolute;
  width: 100%;
  transform: translateY(var(--translateY));
  will-change: transform;
}